<!--footer design-->
<footer class="text-center py-3 bg-dark text-white mt-5">
    <p>&copy; 100825730 Georgy Sim. All rights reserved. LINKED IN COMING SOON</p>
    <nav>
        <a href="https://github.com/Sh1ro002" target="_blank">My Github Page :D</a>
    </nav>
    </footer>
    <!--load playpause button-->
    <script src="/javascripts/video.js"></script>
  </body>
</html>