<%- include('partials/header') %>
    <!--all content is enclosed in wrapper-->
    <div id="wrapper">
        <!--stuff that goes in the top (header)-->
        <header>
            <h1>WELCOME TO MY PROJECTS PAGE :D</h1>
            <p>This page is all about my projects!</p>
            <!--interactable links-->
            <nav>
                <a href="/">Home Page</a> 
                <a href="/aboutme">About Me Page</a> 
                <a href="/feedback">Contact Me</a>
            </nav>
        </header>
        <!--actual information relating to projects. divided into paragraohs for easier viewing-->
        <article>
            <section>
                <h3>Personal Portfolio Website</h3>
                <p>The very first assignment we were assigned to do for this class. This is my first attempt at making a website based on what we were taught in class :D</p>
            </section>
            <section>
                <h3>Tic Tac Toe Game</h3>
                <p>Basic tic tac toe game made in C# with an attempt at making an AI opponent. This whole project was essentially just a test to see if I could program an functional AI to play against.</p>
            </section>
            <section>
                <h3>Random Number Generator</h3>
                <p>Simple random number generator made in C#. Only done to make me familiar with C#.</p>
            </section>
            <section>
                <h3>Basic Network Plan</h3>
                <p>Super basic network design done in year 1. Models an example of a network on PacketTracer. Given mark of 100%</p>
            </section>
        </article>
        <!--same as top-->
        <%- include('partials/footer') %>
